Repository NVIDIA/bionemo-framework, pull requests merged in 2025-02, with the labels that each got.

#535 clean up distributed env setup and support multi-device testing
  sub-packages/bionemo-esm2/tests/bionemo/esm2/model/test_convert.py
  sub-packages/bionemo-esm2/tests/bionemo/esm2/model/test_model.py
  sub-packages/bionemo-llm/tests/bionemo/llm/test_lightning.py
  sub-packages/bionemo-testing/src/bionemo/testing/megatron_parallel_state_utils.py
  sub-packages/bionemo-testing/tests/bionemo/testing/test_megatron_parallel_state_utils.py
Labels: INCLUDE_NOTEBOOKS_TESTS, INCLUDE_SLOW_TESTS

#687 Add scheduled nightly tests on github CI
  .github/workflows/gh-docs-deploy.yml
  .github/workflows/unit-tests.yml
Labels: SKIP_CI

#695 add announcement README.md
  README.md
Labels: documentation, SKIP_CI

#688 Upgrade bionemo-moco to v0.0.2
  sub-packages/bionemo-moco/VERSION
  sub-packages/bionemo-moco/blog.md
  sub-packages/bionemo-moco/documentation.md
  sub-packages/bionemo-moco/examples/discrete_data_interpolant_tutorial.ipynb
  sub-packages/bionemo-moco/examples/ot_sampler_tutorial.ipynb
  sub-packages/bionemo-moco/figures/model_figure.png
  sub-packages/bionemo-moco/src/bionemo/moco/distributions/prior/continuous/harmonic.py
  sub-packages/bionemo-moco/src/bionemo/moco/distributions/time/beta.py
  sub-packages/bionemo-moco/src/bionemo/moco/distributions/time/distribution.py
  sub-packages/bionemo-moco/src/bionemo/moco/distributions/time/logit_normal.py
  sub-packages/bionemo-moco/src/bionemo/moco/distributions/time/uniform.py
  sub-packages/bionemo-moco/src/bionemo/moco/interpolants/__init__.py
  sub-packages/bionemo-moco/src/bionemo/moco/interpolants/batch_augmentation.py
  sub-packages/bionemo-moco/src/bionemo/moco/interpolants/continuous_time/continuous/continuous_flow_matching.py
  sub-packages/bionemo-moco/src/bionemo/moco/interpolants/continuous_time/continuous/data_augmentation/__init__.py
  sub-packages/bionemo-moco/src/bionemo/moco/interpolants/continuous_time/continuous/data_augmentation/augmentation_types.py
  sub-packages/bionemo-moco/src/bionemo/moco/interpolants/continuous_time/continuous/data_augmentation/equivariant_ot_sampler.py
  sub-packages/bionemo-moco/src/bionemo/moco/interpolants/continuous_time/continuous/data_augmentation/kabsch_augmentation.py
  sub-packages/bionemo-moco/src/bionemo/moco/interpolants/continuous_time/continuous/data_augmentation/ot_sampler.py
  sub-packages/bionemo-moco/src/bionemo/moco/interpolants/continuous_time/continuous/vdm.py
  sub-packages/bionemo-moco/src/bionemo/moco/interpolants/continuous_time/discrete/mdlm.py
  sub-packages/bionemo-moco/src/bionemo/moco/interpolants/discrete_time/utils.py
  sub-packages/bionemo-moco/src/bionemo/moco/testing/__init__.py
  sub-packages/bionemo-moco/src/bionemo/moco/testing/parallel_test_utils.py
  sub-packages/bionemo-moco/tests/bionemo/moco/distributions/prior/continuous/test_harmonic.py
  sub-packages/bionemo-moco/tests/bionemo/moco/distributions/time/test_time_distribution.py
  sub-packages/bionemo-moco/tests/bionemo/moco/interpolants/continuous_time/continuous/test_continuous_flow_matching.py
  sub-packages/bionemo-moco/tests/bionemo/moco/interpolants/continuous_time/continuous/test_continuous_flow_matching_parallel.py
  sub-packages/bionemo-moco/tests/bionemo/moco/interpolants/continuous_time/continuous/test_optimal_transport.py
  sub-packages/bionemo-moco/tests/bionemo/moco/interpolants/continuous_time/continuous/test_vdm_parallel.py
  sub-packages/bionemo-moco/tests/bionemo/moco/interpolants/continuous_time/discrete/test_discrete_flow_matching_parallel.py
  sub-packages/bionemo-moco/tests/bionemo/moco/interpolants/continuous_time/discrete/test_mdlm.py
  sub-packages/bionemo-moco/tests/bionemo/moco/interpolants/continuous_time/discrete/test_mdlm_parallel.py
  sub-packages/bionemo-moco/tests/bionemo/moco/interpolants/discrete_time/continuous/test_ddpm_parallel.py
  sub-packages/bionemo-moco/tests/bionemo/moco/interpolants/discrete_time/discrete/test_d3pm_parallel.py
Labels: INCLUDE_NOTEBOOKS_TESTS

#704 evo2 train unit test
  sub-packages/bionemo-evo2/src/bionemo/evo2/run/train.py
  sub-packages/bionemo-evo2/tests/bionemo/evo2/run/test_train.py
Labels: INCLUDE_SLOW_TESTS
