Repository NVIDIA/bionemo-framework, changes with the owners that CODEOWNERS names for each.
All owners: @dorotat-nv, @jstjohn, @malcolmgreaves, @trvachov, @pstjohn, @ohadmo, @skothenhill-nv, @DejunL, @farhadrgh, @guoqing-zhou, @polinabinder1, @edawson

CODEOWNERS:

# For documentation, see: https://docs.gitlab.com/ee/user/project/codeowners/
#
# *** NOTE ***
#   KEEP THE LISTS OF INDIVIDUAL CODEOWNERS/TEAMS IN ALPHABETICALLY SORTED ORDER
#


#
## MAPPING of GitHub USERNAME to PERSON in ALPHABETICAL ORDER on username
#
# @DejunL - Dejun Lin
# @broland-hat - Brian Roland
# @cspades - Cory Ye
# @dorotat-nv - Dorota Toczydlowska
# @farhadrgh - Farhad Ramezanghorbani
# @guoqing-zhou - Guoqing Zhou
# @gwarmstrong - George Armstrong
# @jomitchellnv - Jonathan Mitchell
# @jstjohn - John St. John
# @jwilber  - Jared Wilber
# @kdidiNVIDIA - Kieran Didi
# @malcolmgreaves - Malcolm Greaves
# @ntadimeti - Neha Tadimeti
# @nv-mcclure - Zachary McClure
# @nvdreidenbach - Danny Reidenbach
# @ohadmo - Ohad Mosafi
# @polinabinder1 - Polina Binder
# @pstjohn - Peter St. John
# @sichu2023 - Simon Chu
# @skothenhill-nv - Steven Kothen-Hill
# @trvachov - Timur Rvachov
# @yzhang123 - Yang Zhang


#
## LEGAL
#
LICENSE @dorotat-nv @jstjohn @malcolmgreaves @trvachov
license_header @dorotat-nv @jstjohn @malcolmgreaves @trvachov


#
## DOCUMENTATION
#
README.md @dorotat-nv @jstjohn @malcolmgreaves @pstjohn
docs @dorotat-nv @jstjohn @malcolmgreaves @pstjohn
# These 2 are symlinks: actual content is under docs/
CODE-REVIEW.md @jstjohn @malcolmgreaves @pstjohn @trvachov
CONTRIBUTING.md @jstjohn @malcolmgreaves @pstjohn @trvachov
docs/CODE-REVIEW.md  @dorotat-nv @jstjohn @malcolmgreaves @pstjohn @trvachov
docs/CONTRIBUTING.md @dorotat-nv @jstjohn @malcolmgreaves @pstjohn @trvachov


#
## INFRASTRUCTURE
#
.gitignore @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
.dockerignore @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
.devcontainer @dorotat-nv @malcolmgreaves @pstjohn
CODEOWNERS @dorotat-nv @jstjohn @malcolmgreaves @pstjohn @trvachov
Dockerfile @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
justfile  @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
internal/ @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
3rdparty       @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
pyproject.toml @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
requirements-cve.txt @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
requirements-dev.txt @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
requirements-test.txt @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
tach.yml @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
.secrets.baseline @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
ci/ @dorotat-nv @malcolmgreaves @pstjohn
.nspect-allowlist.toml @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
VERSION @dorotat-nv @jstjohn @malcolmgreaves @pstjohn @trvachov

#
## LIBRARY CODE
#
scripts @jstjohn @malcolmgreaves @skothenhill-nv

sub-packages/bionemo-fw @DejunL @dorotat-nv @farhadrgh @guoqing-zhou @jstjohn @malcolmgreaves @pstjohn @skothenhill-nv

sub-packages/bionemo-testing @dorotat-nv @farhadrgh @jstjohn @malcolmgreaves @pstjohn @skothenhill-nv

sub-packages/bionemo-core @DejunL @dorotat-nv @farhadrgh @guoqing-zhou @jstjohn @malcolmgreaves @pstjohn @skothenhill-nv

sub-packages/bionemo-llm @farhadrgh @dorotat-nv @jstjohn @malcolmgreaves @pstjohn @skothenhill-nv

sub-packages/bionemo-geometric @DejunL @guoqing-zhou @jstjohn @malcolmgreaves

sub-packages/bionemo-example_model @jstjohn @malcolmgreaves @skothenhill-nv

sub-packages/bionemo-geneformer @jstjohn @malcolmgreaves @skothenhill-nv

sub-packages/bionemo-scdl @jstjohn @malcolmgreaves @polinabinder1 @skothenhill-nv

sub-packages/bionemo-noodles @skothenhill-nv @malcolmgreaves @jstjohn @edawson

remove scripts from testing
  ci/scripts/run_pytest.sh
  sub-packages/bionemo-core/tests/bionemo/core/data/test_load_notebook.ipynb
Owners: @jstjohn, @malcolmgreaves, @skothenhill-nv, @DejunL, @dorotat-nv, @farhadrgh, @guoqing-zhou, @pstjohn

was installing editable pip package from deleted location
  Dockerfile.arm
Owners: none

add --scheduler-max-steps as an option
  sub-packages/bionemo-esm2/src/bionemo/esm2/run/recipes.py
  sub-packages/bionemo-llm/src/bionemo/llm/run/config_models.py
  sub-packages/bionemo-llm/src/bionemo/llm/train.py
Owners: @farhadrgh, @dorotat-nv, @jstjohn, @malcolmgreaves, @pstjohn, @skothenhill-nv

Revert "fix min_lr"
  sub-packages/bionemo-llm/src/bionemo/llm/train.py
Owners: @farhadrgh, @dorotat-nv, @jstjohn, @malcolmgreaves, @pstjohn, @skothenhill-nv

rename to scheduler_num_steps
  sub-packages/bionemo-esm2/src/bionemo/esm2/scripts/train_esm2.py
Owners: @jstjohn, @malcolmgreaves, @skothenhill-nv

ruff
  sub-packages/bionemo-llm/src/bionemo/llm/train.py
Owners: @farhadrgh, @dorotat-nv, @jstjohn, @malcolmgreaves, @pstjohn, @skothenhill-nv

add max_steps as an option
  sub-packages/bionemo-esm2/src/bionemo/esm2/run/recipes.py
Owners: none

add argparse support
  sub-packages/bionemo-esm2/src/bionemo/esm2/scripts/train_esm2.py
Owners: @jstjohn, @malcolmgreaves, @skothenhill-nv

fix min_lr
  sub-packages/bionemo-llm/src/bionemo/llm/train.py
Owners: @farhadrgh, @dorotat-nv, @jstjohn, @malcolmgreaves, @pstjohn, @skothenhill-nv

fix default_adam_optimizer_with_cosine_annealing_recipe
  sub-packages/bionemo-esm2/src/bionemo/esm2/run/recipes.py
  sub-packages/bionemo-esm2/src/bionemo/esm2/scripts/train_esm2.py
Owners: @jstjohn, @malcolmgreaves, @skothenhill-nv

ruff
  sub-packages/bionemo-esm2/src/bionemo/esm2/scripts/train_esm2.py
Owners: @jstjohn, @malcolmgreaves, @skothenhill-nv

fix e2e test cases
  sub-packages/bionemo-esm2/tests/bionemo/esm2/scripts/test_train_esm2.py
Owners: @jstjohn, @malcolmgreaves, @skothenhill-nv

fix triton install?
  Dockerfile.arm
Owners: none

add architecture hparams in argparse
  sub-packages/bionemo-geneformer/src/bionemo/geneformer/scripts/train_geneformer.py
Owners: @jstjohn, @malcolmgreaves, @skothenhill-nv

increase sequence length to avoid nan grad
  sub-packages/bionemo-esm2/tests/bionemo/esm2/scripts/test_train_esm2.py
  sub-packages/bionemo-geneformer/tests/bionemo/geneformer/scripts/test_train_geneformer.py
Owners: @jstjohn, @malcolmgreaves, @skothenhill-nv

move tiledb out of /tmp
  Dockerfile.arm
Owners: none

temporary wandb pin for test failures
  requirements-test.txt
Owners: @dorotat-nv, @jstjohn, @malcolmgreaves, @ohadmo, @pstjohn, @trvachov

optimized image size
  Dockerfile.arm
Owners: none

unused
  ci/docker/0001-Fix-to-support-CUDA-12.1.patch
  ci/docker/Dockerfile_cuda_12.1.0
  ci/docker/Dockerfile_hf
  ci/docker/Dockerfile_pytorch
Owners: @dorotat-nv, @malcolmgreaves, @pstjohn

revert
  ci/docker/Dockerfile_cuda_12.3
Owners: @dorotat-nv, @malcolmgreaves, @pstjohn

Doc: update README
  sub-packages/bionemo-webdatamodule/README.md
  sub-packages/bionemo-webdatamodule/src/bionemo/webdatamodule/datamodule.py
Owners: @dorotat-nv, @jstjohn, @malcolmgreaves, @pstjohn

Enhancement: support user input of webdataset and webloader invocables
  sub-packages/bionemo-webdatamodule/src/bionemo/webdatamodule/datamodule.py
  sub-packages/bionemo-webdatamodule/tests/bionemo/webdatamodule/conftest.py
  sub-packages/bionemo-webdatamodule/tests/bionemo/webdatamodule/test_datamodule.py
Owners: none
